a1_variables/target/*
a1_variables/Cargo.lock
a2_data_type/target
a2_data_type/Cargo.lock
a3_functions/target
a3_functions/Cargo.lock
a4_ownership_borrowing/target
a4_ownership_borrowing/Cargo.lock
a5_compound_type/target
a5_compound_type/Cargo.lock
a6_pattern_matching/target
a6_pattern_matching/Cargo.lock
a7_methods_functions/target
a7_methods_functions/Cargo.lock
a8_generics_traits/target
a8_generics_traits/Cargo.lock